<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >

  <div class="message-header">
    <small>
      <strong><%= message.user.username.capitalize %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
  </div>
  <div class="message-content">
    <p><%= message.content %></p>
  </div>
</div>
</div>
