 <div class="container-sm">
    <div class="station-main-titre mt-2">Recharger ma voiture</div>
    <div class="row">
      <% if params[:address] %>
        <% params[:address] != "" ? placeholder = params[:address] : placeholder = "Adresse..." %>
      <% else %>
        <% placeholder = "Adresse ..." %>
      <% end %>

      <%# Ci-dessous formulaire d'envoi des paramètres de filtre %>
      <%# Vérification pour définir la valeur sélectionnée dans la liste déroulante %>
      <% params[:plug] ? the_selected = params[:plug] : the_selected = "1" %>

      <%= form_with url: stations_path, method: :get, class: "" do |f| %>
        <div class="d-flex justify-content-start">
          <%= f.select :plug, options_for_select(@array_of_cars, selected: the_selected) %>
        </div>

        <div class="station-main-titre secondaire mt-2">Quand ?</div>
        <%= f.datetime_field :date_available, class: 'form-control formulaire' %>

        <div class="station-main-titre secondaire mt-2">Où ?</div>
        <div class="d-flex w-100 form-control justify-content-between mb-2 formulaire">
          <%= f.text_field :address, class: 'barre-de-recherche', id: "user_input_autocomplete_address", placeholder: placeholder %>
          <%= f.button nil, class: "barre-de-recherche" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>

        <!-- Champs cachés -->
        <input type="hidden" id="street_number" name="street_number">
        <input type="hidden" id="route" name="route">
        <input type="hidden" id="locality" name="locality">
        <input type="hidden" id="country" name="country">
      <% end %>

      <!-- ... Reste du code ... -->

    </div>
  </div>

  <!-- ... Code de la carte MapBox ... -->

  <!-- ... Lignes de coupure, espace, variable price, etc. ... -->

  <%# ci dessous affiche les stations ! %>
  <% if @stations.present? %>
    <div class="mb-4 p-1 <%= "d-none" if params[:address].blank? %>">
      <!-- ... Reste du code pour afficher les stations ... -->
    </div>
  <% end %>

  <div class="mt-5 pt-5"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
  <script>
    // Votre script JavaScript pour l'autocomplétion
    function initializeAutocomplete(id) {
      var element = document.getElementById(id);

      if (element) {
        var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
      }
    }

    function onPlaceChanged() {
      var place = this.getPlace();

      // Mettre à jour les champs cachés avec les données de l'adresse sélectionnée
      document.getElementById('street_number').value = getAddressComponent(place, 'street_number');
      document.getElementById('route').value = getAddressComponent(place, 'route');
      document.getElementById('locality').value = getAddressComponent(place, 'locality');
      document.getElementById('country').value = getAddressComponent(place, 'country');
    }

    function getAddressComponent(place, componentType) {
      for (var i in place.address_components) {
        var component = place.address_components[i];
        for (var j in component.types) {
          if (component.types[j] === componentType) {
            return component.long_name;
          }
        }
      }
      return '';
    }

    // Appel de la fonction initializeAutocomplete avec l'ID de l'élément input
    initializeAutocomplete('user_input_autocomplete_address');
  </script>
*
