<div class="container pb-5 mb-5">
<!-- app/views/stations/new.html.erb -->

<div class="container-edit-vehicle py-5">
  <div class="row">
    <div class="col-12">
      <div class="bg-white form-creation-vehicle p-3 shadow">
        <h3>Nouvelle Station</h3>

        <%= simple_form_for [@user, @station] do |f| %>
          <%= f.input :address, label: 'Adresse' %>
          <%= f.input :comment_supply, label: "Complément d'adresse" %>
          <%= f.input :plug, label: 'Type de prise', collection: ["Type 2", "CSS Combo"] %>
          <%= f.input :brand, label: "Marque" %>
          <%= f.input :model, label: "Modèle" %>
          <%= f.input :max_kW_recharge, label: "Puissance Max (kW) de Recharge"%>
          <%= f.input :available, as: :boolean, label: 'Disponible' %>
          <%= f.input :avaibility_end, as: :date, label: "Date de Fin de Disponibilité" %>
          <%= f.input :code_station, label: "Code de la Station" %>
          <%= f.input :photo, as: :file, label: "Photo" %>

          <div class="btn bouton-creation-voiture">
            <%= f.submit 'Ajouter ma voiture'%>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
