<!-- Header -->
<div class="bookinghead">
  <!-- Header vignette photo garage -->

  <div class="bookingbackgroud text-white"></div>

  <!-- Header photo du locataire de la borne -->
  <div class="bookingheadpic">
    <!-- Header username du locataire de la borne -->
    <div class="bookingheadusername">

    <%userLevel = (@booking.station.user.xp.to_f / 1000).floor%>

            <% feuille_user = @booking.station.user.xp < 25000 ? Badge.f[0] : @booking.station.user.xp < 50000 ? Badge.f[1] : @booking.station.user.xp < 75000 ? Badge.f[2] : Badge.f[3] %>
            <div class="feuille-bookings-show-profile" style="background-image: url('<%= feuille_user%>');"></div>

       <div class="station-username d-flex align-items-end"><%= @booking.station.user.username.capitalize %> <div class="station-username-level ps-1"><%= userLevel %></div></div>

      <!-- Header des logos map et waze -->
      <div class="bookingwaze"></div>
    </div>
  </div>
</div>

<div class="barregrise"></div>

<!-- details du contrat entre les deux parties-->
<div class="bookingdetail">
  <!-- marque/modele de la voiture   -->
  <div class="cardisplay mb-4">
    <div class="brandmodel card-text d-flex justify-content-center align-items-center">
      <%= image_tag @booking.vehicle.car_list[@booking.vehicle.brand]['Logo_url'], alt: "Vehicle Logo", width: "30px" %>
      <span class="mx-1"></span><%= @booking.vehicle.brand %> <%= @booking.vehicle.model %>
    </div>
    <div class="plugtype d-flex justify-content-center align-items-center">
      <%= @booking.vehicle.plug %> <span class="mx-1"></span><%= image_tag @booking.vehicle.car_list[@booking.vehicle.brand]['Logo_prise_url'], alt: "prise Logo", width: "25px" %>
    </div>
  </div>

  <!-- div reservationcontainer -->
    <h5 class="titre-votre-reservation d-flex justify-content-center">Détails de la réservation</h5>
  <div class="reservationcontainer d-flex flex-wrap justify-content-center mb-4">
  <!-- div date-heure-reservation -->
  <div class="date-heure-reservation">
    <!-- div date debut de reservation -->
    <div class="date-heure-reservationcard">Date début de réservation
      <p><%= @booking.date_heure_reservation.strftime("%d/%m/%Y") %> à <%= @booking.date_heure_reservation.strftime("%H:%M")%> </p>
    </div>
    <!-- div date fin de reservation -->
    <div class="date-heure-reservationcard">Date fin de réservation
      <p><%= @booking.date_heure_fin_de_reservation.strftime("%d/%m/%Y") %> à <%=@booking.date_heure_fin_de_reservation.strftime("%H:%M")  %></p>

    </div>
  </div><!-- fin date-heure-reservation  -->

  <!-- div recap reservation details € kw/h temps % -->
  <div class= "detailscontainer">

    <!-- div temps  -->
    <div class="details-reservationcard">
      <p class="titre-reservation-details">Temps</p>
      <p><%= @booking.duree_recharge_heures %> h</p>
    </div> <!-- fin prix details-reservationcard   -->
    <!-- div kw/h -->
    <div class="details-reservationcard">
      <p class="titre-reservation-details">Charge</p>
      <p><%= @booking.kw_h_consommes_reservation %>kW/h</p>
    </div> <!-- fin prix details-reservationcard   -->


    <!-- div % -->
    <div class="details-reservationcard">
      <p class="titre-reservation-details">Batterie</p>
      <p>+<%= @booking.pourcentage_batterie_reservation %>%</p>
    </div> <!-- fin prix details-reservationcard   -->


    <!-- div prix % -->
    <div class="details-reservationcard">
      <p class="titre-reservation-details">Total</p>
      <p><%= @booking.prix_total_recharge %> €</p>
    </div> <!-- fin prix details-reservationcard   -->
 </div><!-- fin reservationcontainer  -->
</div>
<div class="barregrise"></div>

<!-- Bouton d'action en fonction des utilisateurs -->
  <!-- Booking action user debut -->
<div class="bookingactionuser">
  <% if current_user == @booking.vehicle.user %>
    <%= render 'owner_bookingactions', booking: @booking %>
  <% elsif current_user == @booking.station.user %>
    <%= render 'customer_bookingactions', booking: @booking %>
  <% else %>
  <p>Aucune action disponible.</p>
  <% end %>


</div>                                                 <!-- Booking action user fin -->

<!-- TCHAT -->

<div class="bookingchatroom">


  <!-- Tchatbox -->
  <div class="bookingmessage"
    data-controller="tchatmate-subscription"
    data-tchatmate-subscription-booking-id-value="<%= @booking.id %>">

    <div class="zonetext"
    data-tchatmate-subscription-target="zonetext">
      <div class="pas-encore-de-message <%= "d-none" if @booking.messages.length > 0%>">Pas encore de message</div>
        <div data-tchatmate-subscription-target="messages">
          <%= render "messages/messagelist", booking: @booking %>
        </div><!-- fin de ma data target messages -->
    </div><!-- fin de zonetext -->



          <!-- ligne input du message -->
          <div class="bookingwhrite">
            <%= simple_form_for [@booking, @message], html: { data: { action: "turbo:submit-end->tchatmate-subscription#resetForm" }, class: "d-flex" } do |f| %>
            <%= f.input :content, label: false, placeholder: "Votre message", wrapper_html: {class: "flex-grow-1"} %>
            <%= f.submit "Envoyer", class: "envoyer btn btn-primary mb-3" %>
            <% end %>
          </div>







  </div><!-- fin de bookingmessage -->
</div><!-- fin de bookingchatroom -->

<!-- Bouton signaler et paiement du bas de page -->
<div class="bookingfoot d-flex justify-content-between">
  <!-- Bouton Signaler -->
  <div class="bookingsignalement d-flex justify-content-center align-items-center">
    <%= link_to "SIGNALER", new_booking_conflict_path(@booking), class: "bouton-signaler" %>
  </div>
</div>

<div class=navbarspace></div>
