<div class="mobile-scroll-container">
  <div class="container my-profil">
    <div class="row mt-3">
      <div class="mt-4"></div>
      <div class="badges-if-any-parent col-md-12 d-flex justify-content-between align-items-center">
      <div class="badges-if-any"><%= "Pas encore de badges" %></div>
        <div class="d-flex flex-column align-items-center">
          <div class="avatar-placeholder rounded-circle"></div>
        </div>
        <div class="flex-grow-1 ml-3 d-flex flex-column justify-content-end align-items-start ms-5">
          <div class="station-username d-flex align-items-end mt-2 text-end">
            <h5 class="username-badge"><%= current_user.username.capitalize %></h5>
          </div>
          <% mateType = current_user.xp < 25000 ? "Mate Débutant" : current_user.xp < 50000 ? "Mate Avancé" : current_user.xp < 75000 ? "Super Mate" : "Top Mate" %>
          <div class="mate-type-user text-end d-flex justify-content-between user-level-placement"> <div><%= mateType %></div> <div><%= current_user.xp / 1000 %></div></div>
          <div class="station-username-level ps-1"></div>
          <% barreColor = current_user.xp < 25000 ? "#CAD82E" : current_user.xp < 50000 ? "#5EA482" : current_user.xp < 75000 ? "#FECD4F" : "#FE9751" %>
          <% barreLength = (current_user.xp - ((current_user.xp.to_f / 1000).floor * 1000)) / 10 %>
          <div class="barre-de-niveau-station booking-barre-plusgrande" style="height: 0.6rem; --width-barre: <%= barreLength %>%; --color-barre: <%= barreColor %>;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="barregrise mt-2"></div>

    <div class="text-center">
      <h1><strong>Classement</strong></h1>
      <h2 class="titre-top-france">Top France</h2>
      <div class="titre-level-et-xp policejaune d-flex justify-content-center align-items-end">
      <div id="les-deux-titres-1">nº </div>
      <div id="les-deux-titres-2"><%=@current_user_rank.to_s %></div>
      <div id="les-deux-titres-3"> - </div>
      <div id="les-deux-titres-4"><%= current_user.xp.to_s%></div>
      <div id="les-deux-titres-5"> XP</div>
      </div>
    </div>
    <div class="d-flex justify-content-center">

         <!-- cartes -->
      <div class="d-flex flex-column carte-rose-user align-items-end" style="max-width: 9rem;">
        <div class="economise-partage">Partagé</div>
        <div class="economise-partage-chiffres"><%= @counter_data[:count] %></div>
      </div>
      <div class="d-flex flex-column carte-rose-user align-items-end" style="max-width: 9rem;">
        <div class="economise-partage">Economisé</div>
        <div class="economise-partage-chiffres"><%= "%.2f" % @counter_data[:economised] %>€</div>
      </div>
    </div>
  </div>


  <div class="barregrise"></div>
  <div class="text-center historique-title-show-user"><strong>Mes véhicules</strong></div>

  <div class="container d-flex justify-content-center my-3">
    <div class="card text-white bg-primary mb-3 align-items-center custom-card " style="width: 22.8rem;">
      <div class="card-body" style="width: 80%;">
        <div class="d-flex justify-content-center space-between">
          <%= link_to "Ajouter voiture", new_vehicle_path, class: "btn btn-primary"%>
        </div>
        <hr>
        <div class="mt-3 ">
          <% current_user.vehicles.each do |vehicle| %>
            <%= link_to edit_vehicle_path(vehicle), class: "text-decoration-none text-reset", style: "cursor: pointer", title: "Modifier #{vehicle.brand} #{vehicle.model}", data: { toggle: "tooltip" }, "aria-label": "Modifier #{vehicle.brand} #{vehicle.model}" do %>
              <div class="d-flex align-items-center justify-content-between">
                <% Vehicle.car_list.each do |key, value| %>
                  <% if vehicle.brand == key %>
                    <img src="<%= value["Logo_url"] %>" alt="<%= vehicle.brand %> logo" class="mr-3-logo" style="max-width: 2rem; position: relative; right: 1rem;">
                    <div class="nom-de-voiture-dans-user"><%= vehicle.brand %> <%= vehicle.model %></div>
                    <img src="<%= value["Logo_prise_url"] %>" alt="<%= value["Type_prise"] %> logo" class="ml-3" style="max-width: 2rem; opacity:0.6; position: relative; right: -1rem;">
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <hr>
          <% end %>
          <% if current_user.vehicles.empty? %>
            <p class="text-center">Vous n'avez aucun véhicule.</p>
          <% end %>

          </div>
          <% unless current_user.station %>
            <div class="d-flex justify-content-center">
              <%= link_to "Ajouter wallbox", new_station_path, class: "btn btn-primary" %>
            </div>
          <% end %>

          <% if current_user.station %>
            <div class="d-flex mb-2 justify-content-between user-station-model">
              <strong><%= current_user.station.brand %> <%= current_user.station.model %> <%= current_user.station.plug %></strong>
              <%= link_to current_user.station, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette wallbox ?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>


  <div class="barregrise"></div>

  <div class="col-md-12-historique">
  <div class="container mes-bookings">
    <div class="row justify-content-center"> <!-- Centrer les cartes -->
      <div class="col-md-8"> <!-- Taille de la carte -->
        <div class="text-center historique-title-show-user"><strong>Historique</strong></div>



  <%# A TRANSFORMER EN PARTIALE %>
        <div data-controller="toggle-historic" class="mt-3">
          <% if current_user.vehicles.any? %>
              <% @bookings.each do |booking| %>
                <% if booking.id === @bookings[0].id || booking.id === @bookings[1].id %>
                  <div class="div-parent-relative card mb-3" style="border: none;">


                    <%= link_to booking_path(booking), data: {turbo_method: :delete} do %>
                      <i class=" <%= "d-none" if booking.status != "termine" %> fa-solid fa-xmark petite-croix-historique"></i>
                    <% end %>


                    <!-- Enveloppez le contenu de chaque réservation dans une balise <a> avec un lien vers la page de détails de la réservation -->
                    <a href="<%= booking_path(booking) %>" class="text-decoration-none text-reset">
                      <div class="card-body-historique d-flex align-items-center">
                        <div class="avatar-placeholder avatar-bisbis rounded-circle me-3"></div> <!-- Avatar Placeholder -->

                        <div class="d-flex flex-column" style="<%= "margin-right: 2rem;" unless booking.duree_recharge.present? %>">
                          <div class="me-3 nom-dans-carte-historique"><%= booking.station.user.username.capitalize %></div>
                          <div class="booking-date mb-0"><strong><%= booking.date_heure_reservation.strftime("%d/%m/%Y") if booking.date_heure_reservation %></strong></div> <!-- Date -->
                        </div>
                        <div class="booking-details flex-grow-1 d-flex justify-content-between align-items-center ">

                          <% if booking.duree_recharge.present? %>
                            <div class="booking-duration mb-0"><%= booking.duree_recharge %>H</div>
                            <% else %>
                            <div> </div>
                          <% end %>

                          <div class="d-flex flex-column justify-content-center align-item-center groupe-attente">

                            <% if booking.status == "en attente" %>
                              <i style="margin: 0 auto !important;" class="far fa-hourglass-half ms-2"></i>
                            <% elsif booking.status == "termine" %>
                              <i style="margin: 0 auto !important;" class="far fa-check-circle ms-2"></i>
                            <% end %>

                          <!-- Statut -->
                          <div class="booking-status-text"><%= booking.status %></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <% else %>
                  <div data-toggle-historic-target="ladiv" class="card mb-3 d-none" style="border: none;">
                    <%= link_to booking_path(booking), data: {turbo_method: :delete} do %>
                      <i class=" <%= "d-none" if booking.status != "termine" %> fa-solid fa-xmark petite-croix-historique"></i>
                    <% end %>
                    <!-- Enveloppez le contenu de chaque réservation dans une balise <a> avec un lien vers la page de détails de la réservation -->
                    <a href="<%= booking_path(booking) %>" class="text-decoration-none text-reset">
                      <div class="card-body-historique d-flex align-items-center">
                        <div class="avatar-placeholder avatar-bisbis rounded-circle me-3"></div> <!-- Avatar Placeholder -->

                        <div class="d-flex flex-column" style="<%= "margin-right: 2rem;" unless booking.duree_recharge.present? %>">
                          <div class="me-3 nom-dans-carte-historique"><%= booking.station.user.username.capitalize %></div>
                          <div class="booking-date mb-0"><strong><%= booking.date_heure_reservation.strftime("%d/%m/%Y") if booking.date_heure_reservation %></strong></div> <!-- Date -->
                        </div>
                        <div class="booking-details flex-grow-1 d-flex justify-content-between align-items-center">

                          <% if booking.duree_recharge.present? %>
                            <div class="booking-duration mb-0"><%= booking.duree_recharge %>H</div>
                            <% else %>
                            <div><%= "   " %></div>
                          <% end %>

                          <div class="d-flex flex-column justify-content-center align-item-center groupe-attente">

                            <% if booking.status == "en attente" %>
                              <i style="margin: 0 auto !important;" class="far fa-hourglass-half ms-2"></i>
                            <% elsif booking.status == "termine" %>
                              <i style="margin: 0 auto !important; " class="far fa-check-circle ms-2"></i>
                            <% end %>

                          <!-- Statut -->
                          <div class="booking-status-text"><%= booking.status %></div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>
                <% end %>
            <% end %>
          <% else %>
            <div class="row">
              <div class="col text-center">
                <p>Vous n'avez aucune réservation.</p>
              </div>
            </div>
          <% end %>
          <div class="chevron-icones d-flex justify-content-center <%= "d-none" if @bookings.length < 3%>">
            <div data-toggle-historic-target="bouton" data-action="click->toggle-historic#toggle_historic"class=""><i class="fa-solid fa-chevron-down"></i></div>
          </div>
        </div>






      </div>
    </div>
  </div>
</div>
<div class="mt-5 pt-5"></div>

