<div class="container my-profil">
  <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-between">
      <div class="d-flex flex-column align-items-start">
        <img src="https://via.placeholder.com/100?text=No+Avatar&bg=CCCCCC&fg=000000" class="img-fluid rounded-circle" alt="No Avatar" style="width: 4rem; height: 4rem;">
      </div>
      <div class="flex-grow-1 ml-3 d-flex flex-column align-items-end">
        <p><%= current_user.username.capitalize %> XP : <%= current_user.xp %></p>
        <div class="progress" style="height: 0.5rem; width: 50%;">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%= current_user.xp %>%;" aria-valuenow="<%= current_user.xp %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container leaderboard">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><strong>Classement</strong></h1>
      <h2 class="text-center">Top France</h2>
      <div class="text-center">
        <p>Votre rang : <strong><%= @current_user_rank %> / <%= @total_users_count %></strong> - <strong><%= current_user.xp %></strong> XP</p>
      </div>
      <div class="col-md-12 d-flex justify-content-center"> <!-- Centrer les cartes sur une ligne -->
        <!-- Première carte -->
        <div class="card text-white bg-primary mb-3 align-items-center mx-2" style="max-width: 7rem;">
          <div class="card-header text-center">Partagé</div>
          <div class="card-body">
            <h5 class="card-title"> <!-- Remplacez ceci par le contenu dynamique si nécessaire --> </h5>
            <p class="card-text text-center">nb de booking</p>
          </div>
        </div>
        <!-- Deuxième carte -->
        <div class="card text-white bg-primary mb-3 align-items-center mx-2" style="max-width: 7rem;">
          <div class="card-header text-center">Partagé</div>
          <div class="card-body">
            <h5 class="card-title"> <!-- Remplacez ceci par le contenu dynamique si nécessaire --> </h5>
            <p class="card-text text-center">nb de booking</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center"><strong>Mes voitures</strong></h1>
<div class="container d-flex justify-content-center my-3">
  <div class="card text-white bg-primary mb-3 align-items-center" style="width: 20rem;">
    <div class="card-body">
      <div class="d-flex justify-content-center"> <!-- Centrer le bouton "Ajouter" -->
        <%= link_to "Ajouter", new_vehicle_path, class: "btn btn-primary", style: "background-color: grey; color: black" %>
      </div>
      <hr> <!-- Ligne de séparation -->
      <div class="mt-3"> <!-- Espace entre les éléments -->
        <!-- Affichage des véhicules -->
        <% current_user.vehicles.each do |vehicle| %>
          <!-- Lien vers la page d'édition du véhicule -->
          <%= link_to edit_vehicle_path(vehicle), class: "text-decoration-none text-reset" do %>
            <p><strong><%= vehicle.brand %> <%= vehicle.model %> <%= vehicle.plug %></strong></p>
          <% end %>
          <hr> <!-- Ligne de séparation -->
        <% end %>
        <!-- Si l'utilisateur n'a aucun véhicule -->
        <% if current_user.vehicles.empty? %>
          <p class="text-center">Vous n'avez aucun véhicule.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container mes-bookings d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><strong>Historique</strong></h1>
      <div class="mt-3"> <!-- Espace entre les éléments -->
        <% if current_user.bookings.any? %>
          <% current_user.bookings.each do |booking| %>
            <p><strong><%= booking.station_id %> <%= booking.date_heure_reservation %> <%= booking.duree_recharge %> <%= booking.status %></strong></p>
            <hr> <!-- Ligne de séparation -->
          <% end %>
        <% else %>
          <div class="row">
            <div class="col text-center">
              <p>Vous n'avez aucune réservation</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
