<div class="container my-profil">
  <div class="row">
    <div class="col-md-8 navbar">
      <!-- Mettez ici tout le contenu de votre barre de navigation -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-between">
      <div class="d-flex flex-column align-items-start">
        <img src="https://via.placeholder.com/100?text=No+Avatar&bg=CCCCCC&fg=000000" class="img-fluid rounded-circle" alt="No Avatar" style="width: 4rem; height: 4rem;">
      </div>
      <div class="flex-grow-1 ml-3 d-flex flex-column align-items-end">
        <p><%= current_user.username.capitalize %> XP : <%= current_user.xp %></p>
        <div class="progress" style="height: 0.5rem; width: 50%;">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%= current_user.xp %>%;" aria-valuenow="<%= current_user.xp %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container leaderboard">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Classement:</h1>
      <h2 class="text-center">Top France</h2>
      <div class="text-center">
        <p>Votre rang : <strong><%= @current_user_rank %> / <%= @total_users_count %></strong> - <strong><%= current_user.xp %></strong> XP</p>
      </div>
      <div class="col-md-12 d-flex justify-content-center"> <!-- Centrer les cartes sur une ligne -->
        <!-- Première carte -->
        <div class="card text-white bg-primary mb-3 align-items-center mx-2" style="max-width: 7rem;">
          <div class="card-header text-center">Partagé</div>
          <div class="card-body">
            <h5 class="card-title"> <!-- Remplacez ceci par le contenu dynamique si nécessaire --> </h5>
            <p class="card-text text-center">nb de booking</p>
          </div>
        </div>
        <!-- Deuxième carte -->
        <div class="card text-white bg-primary mb-3 align-items-center mx-2" style="max-width: 7rem;">
          <div class="card-header text-center">Partagé</div>
          <div class="card-body">
            <h5 class="card-title"> <!-- Remplacez ceci par le contenu dynamique si nécessaire --> </h5>
            <p class="card-text text-center">nb de booking</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center my-3">
  <div class="card text-white bg-primary mb-3 align-items-center" style="width: 20rem;">
    <div class="card-body">
      <div class="d-flex justify-content-center"> <!-- Centrer le bouton "Ajouter" -->
        <%= link_to "Ajouter", new_vehicle_path, class: "btn btn-primary", style: "background-color: grey; color: black" %>
      </div>
      <hr> <!-- Ligne de séparation -->
      <div class="mt-3"> <!-- Espace entre les éléments -->
        <% current_user.vehicles.each do |vehicle| %>
          <p><strong><%= vehicle.brand %> <%= vehicle.model %> <%= vehicle.plug %></strong></p>
          <hr> <!-- Ligne de séparation -->
        <% end %>
      </div>
    </div>
  </div>
</div>
