<div class="container-edit-vehicle py-5">
  <div class="row">
    <div class="col-12">
      <div class="bg-white form-creation-vehicle p-3 shadow">
        <h3>Modifier mon véhicule</h3>
        <%= simple_form_for [@user, @vehicle] do |f| %>
          <%= f.input :brand, label: 'Marque', collection: @vehicle_list.keys, prompt: 'Sélectionner une marque' %>
          <%= f.input :model, label: 'Modèle', collection: @all_vehicle_models, prompt: 'Sélectionner un modèle' %>
          <%= f.input :model_year, label: 'Année du modèle', placeholder: 'Année de sortie du modèle' %>
          <%= f.input :immatriculation, label: 'Immatriculation', placeholder: 'Mon immatriculation' %>

          <div class="btn bouton-creation-voiture">
            <%= f.submit 'Enregistrer les modifications'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
