<!DOCTYPE html>
<html>
  <head>
    <title>ChargeMates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  </head>


  <body>


<div data-controller="preloader" data-preloader-target="introscreen" data-action="click->preloader#getout" class="preloader d-flex flex-column justify-content-center align-items-center">
<div class="logo-center"></div>
<div>ChargeMates</div></div>


<%= render "shared/flashes" %>

<div class="navbarre d-flex justify-content-around align-items-center">
  <div class="d-flex flex-column align-items-center justify-content-center pt-2">
    <%= link_to root_path do %>
    <i class="navbarre-icon fa-solid fa-magnifying-glass" style="font-size: 1.2rem;"></i>
    <% end %>
    <div>Rechercher</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center pt-2">
    <%= link_to user_path(current_user ? current_user : 1) do %>
    <i class="navbarre-icon fa-solid fa-user" style="font-size: 1.2rem;"></i>
    <% end %>
    <div>Mon profil</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center pt-2">
    <%= link_to bookings_path do %>
    <i class="navbarre-icon fa-solid fa-users" style="font-size: 1.2rem;"></i>
    <% end %>
    <div>Mes mates</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center pt-2">
  <%= link_to '/wheel' do %>
    <i class="navbarre-icon fa-solid fa-dice" style="font-size: 1.2rem;"></i>
    <% end %>
    <div>Tente ta chance</div>
  </div>
</div>


    <%= yield %>
  </body>
</html>
