<!DOCTYPE html>
<html>
  <head>
    <title>ChargeMates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <nav class="navbar fixed-bottom navbar-light bg-light d-md-none">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col">
        <p>Rechercher</p>
      </div>
      <div class="col">
        <p>Mon Profil</p>
      </div>
      <div class="col">
        <p>Mes Mates</p>
      </div>
      <div class="col">
        <p>Tente ta Chance</p>
      </div>
    </div>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
